.caja-padre{
    width: 80rem;
    height: 50rem;
    margin: auto;
    margin-top: 13rem;
    
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjY0Ni10YW5nLTE4LWF1dHVtbl8xLmpwZw.jpg");

    display: flex;
    justify-content: center;
}
